* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  padding: 3rem;
}

.content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1rem solid black;
}

.header {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: center;
  align-items: center;
  /* justify-content: space-between; */
  padding: 1rem;
  font-size: 2.4rem;
}

.btn {
  padding: 1rem 2rem;
  color: black;
  font-size: 2.4rem;
}

.game {
  /* width: 70vw; */
  align-self: center;
  padding: 2rem;
  width: 70%;
  height: 45vh;
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  overflow: scroll;
}

.words {
  height: fit-content;
  font-size: 2.4rem;
  line-height: 1.5;
  color: #666;
}

.word {
  display: inline-block;
  padding-right: 2rem;
}

.num {
  font-size: 2.4rem;
  padding: 1rem;
  border: 1rem solid black;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  text-align: center;
  background-color: #a1171769;
}

.words-number__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  align-self: center;
}

.btn {
  border: 1rem solid black;
}

.litter {
  background-color: rgba(0, 255, 255, 0.347);
  animation: highlight 1s ease-in infinite;
  transition: background-color 0.5s;
}

@keyframes highlight {
  0% {
    background-color: rgba(0, 255, 255, 0);
    transition: all 0.5s;
  }
  50% {
    background-color: rgba(0, 255, 255, 0.347);
    transition: all 0.5s;
  }
  100% {
    background-color: rgba(0, 255, 255, 0);
    transition: all 0.5s;
  }
}
