* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* width  */
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1rem solid black;
}

.header {
  display: grid;
  grid-template-columns: max-content 1fr;
  justify-items: center;
  align-items: center;
  /* justify-content: space-between; */
  padding: 4rem;
  font-size: 3rem;
}

.btn {
  padding: 1rem 2rem;
  color: black;
  font-size: 3rem;
}

.game {
  /* width: 70vw; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* height: 40vh; */
  /* position: relative; */
  padding: 4rem;
}

.words {
  /* border: none; */
  width: 100rem;
  font-size: 4.6rem;
  line-height: 1.5;
  /* z-index: -2; */
  color: #666;
  /* position: absolute; */
}

.word {
  display: inline-block;
  padding-right: 2rem;
}

.game {
  overflow: hidden;
}

.num {
  font-size: 4.6rem;
  padding: 1rem;
  border: 1rem solid black;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  text-align: center;
  background-color: #a1171769;
}

.words-number__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.btn {
  align-self: center;
}

.btn {
  border: 1rem solid black;
}
